@model IEnumerable<GestionDesConges.Models.Employee>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<p>Gérer les Employés</p>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">FullName</th>
            <th scope="col">Email</th>
            <th scope="col">Position</th>
            <th scope="col">Department</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <th scope="row">@item.EmployeeId</th>
                <td>@item.FullName</td>
                <td>@item.Email</td>
                <td>@item.Position.ToString()</td>
                <td>@item.Department.DepartmentName</td>
                <td>
                    <div class="btn-group">
                        <a asp-action="Edit" asp-route-id="@item.EmployeeId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.EmployeeId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.EmployeeId">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-primary">Add new Employee</a>
